### General OS/Editor ###
# OS metadata
.DS_Store
Thumbs.db

# IDE specific files
*.idea/
*.iml
*.ipr
*.iws
.vscode/*
*.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### Compiled Output ###
# Frontend
/dist
/tmp
/out-tsc
/bazel-out

# Backend
/build/
/out/
/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Frontend Specific ###
/frontend/node_modules/
/frontend/.angular/cache
npm-debug.log
yarn-error.log
.sass-cache/
/connect.lock
/libpeerconnection.log
/coverage
/typings

### Backend Specific ###
/backend/.env
/backend/build
/backend/.gradle/
/backend/gradle/
!gradle/wrapper/gradle-wrapper.jar
HELP.md
.gradle
.apt_generated
.factorypath
.springBeans
.sts4-cache

### Testing ###
testem.log
/coverage

### Logs ###
*.log

### Exceptions ###
# Allow specific build directories for source code
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin
.kotlin_module