<div class="register-container">
    <h2>Create Your Account</h2>

    <div class="role-toggle-container">
        <span
        >Registering as a
            <strong>{{ formControls["role"].value }}</strong></span
        >
        <button (click)="toggleRole()" class="toggle-button" type="button">
            Click to switch to
            {{
                formControls["role"].value === "PATIENT" ? "Doctor" : "Patient"
            }}
        </button>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
        <div class="form-row">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input formControlName="firstName" id="firstName" type="text"/>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" id="lastName" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input formControlName="email" id="email" type="email"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" id="password" type="password"/>
        </div>

        @if (formControls['role'].value === 'PATIENT') {
            <div>
                <label for="dateOfBirth">Date of Birth</label>
                <input
                    id="dateOfBirth"
                    type="date"
                    formControlName="dateOfBirth"
                />
            </div>
            <div>
                <label for="phoneNumber">Phone Number</label>
                <input
                    id="phoneNumber"
                    type="tel"
                    formControlName="phoneNumber"
                />
            </div>
            <div>
                <label for="address">Address</label>
                <input id="address" type="text" formControlName="address"/>
            </div>
            <div>
                <label for="gender">Gender</label>
                <select id="gender" formControlName="gender">
                    <option value="">-- Select Gender --</option>
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                    <option value="OTHER">Other</option>
                </select>
            </div>
        }

        @if (formControls['role'].value === 'DOCTOR') {
            <div>
                <label for="specialization">Specialization</label>
                <input
                    id="specialization"
                    type="text"
                    formControlName="specialization"
                />
            </div>
            <div>
                <label for="department">Department</label>
                <input
                    id="department"
                    type="text"
                    formControlName="department"
                />
            </div>
        }

        <button [disabled]="registerForm.invalid" type="submit">
            Register
        </button>
        @if (successMessage) {
            <div class="message success">
                {{ successMessage }}
            </div>
        }
        @if (errorMessage) {
            <div class="message error">
                {{ errorMessage }}
            </div>
        }
        <a class="btn btn-block btn-light btn-transparent" routerLink="/login"
        >Already have an account? Login here!</a
        >
    </form>
</div>
