@if (page.totalPages > 1) {
    <nav aria-label="Search results pagination">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <button
                    class="page-link"
                    (click)="goToFirstPage()"
                    [disabled]="currentPage === 1"
                    aria-label="First page"
                >
                    &laquo;
                </button>
            </li>

            <li class="page-item" [class.disabled]="currentPage === 1">
                <button
                    class="page-link"
                    (click)="goToPreviousPage()"
                    [disabled]="currentPage === 1"
                    aria-label="Previous page"
                >
                    &lsaquo;
                </button>
            </li>

            @for (pageNum of pages; track pageNum) {
                <li class="page-item" [class.active]="pageNum === currentPage">
                    <button class="page-link" (click)="changePage(pageNum)">
                        {{ pageNum }}
                    </button>
                </li>
            }

            <li
                class="page-item"
                [class.disabled]="currentPage === page.totalPages"
            >
                <button
                    class="page-link"
                    (click)="goToNextPage()"
                    [disabled]="currentPage === page.totalPages"
                    aria-label="Next page"
                >
                    &rsaquo;
                </button>
            </li>

            <li
                class="page-item"
                [class.disabled]="currentPage === page.totalPages"
            >
                <button
                    class="page-link"
                    (click)="goToLastPage()"
                    [disabled]="currentPage === page.totalPages"
                    aria-label="Last page"
                >
                    &raquo;
                </button>
            </li>
        </ul>
    </nav>
}
